<template lang="pug">
  div
    //- Добавление нового item
    add-item-modal(
      @updateList="getItems",
      ref="edit",
      :edit="edit",
      @closeModal="itemModal = false",
      :value="itemModal")

    //- Кнопка добавить
    v-btn(light,
      v-if="admin",
      @click="itemModal = true") Добавить

    v-dialog(v-model="dialogPhotos", width="800")
      showPhotos

    v-dialog(v-model="dialogClothes", width="1000", height="600")
      show-clothes(
        :key="photosReload",
        @closeClothes="dialogClothes = false, photosReload = !photosReload")

    v-layout(:wrap="!$xs",
      align-start,
      justify-center,
      :column="$xs")

      //- Карточка товара
      produce-card(
        :class="!$xs ? 'ma-4' : ''",
        @editItem="openEditModal",
        @openPhotos="$router.push(`/catalog/${item._id}/`)",
        @openClothes="dialogClothes = true",
        v-for="(item, index) in items",
        :key="item._id",
        :item="item")

    //- Блок с контактами
    subscribe

</template>

<script>
import ProduceCard from '@/components/ProduceCard'
import ShowPhotos from '@/components/ShowPhotos'
import ShowClothes from '@/components/showClothes'
import Subscribe from '@/components/Subscribe'
import AddItemModal from "@/components/addItemModal";
export default {
  name: "catalog",

  components: {AddItemModal, ShowClothes, ProduceCard, ShowPhotos, Subscribe },

  data () {
    return {
      admin: null, // админская учетка
      items: [],
      dialogPhotos: false,
      itemModal: false,
      edit: false, // флажок редактирования фото
      photosReload: false, // перезагрузка компонента
      dialogClothes: false
    }
  },

  /** Получение товаров */
  async mounted() {
    await this.getItems()
  },

  methods: {
    /** Обработчик открытия модалки редактирования */
    openEditModal(item) {
      this.edit = true
      this.itemModal = true
      this.$nextTick(() => {
        this.$refs.edit.currentItem = JSON.parse(JSON.stringify(item))
      })
    },

    /** Получение Items */
    async getItems() {
      const res = await this.$api.requests.getItems()

      this.items = res.data.results
    }
  }
}
</script>

<style scoped>

</style>
