<template lang="pug">
  v-dialog(
    @input="closeModal",
    :value="value",
    width="800")

    div.pa-5(:style="{ background: 'white' }")
      //- Подтверждение удаления товара
      confirm(:value="confirmModal",
        @close="confirmModal = false",
        @confirm="deleteItem")

      //- алерт об ошибке
      v-alert(type="error", :value="alert") {{ alertText }}

      //- спиннер
      v-progress-circular(v-show="loading", indeterminate)

      //- заголовок диалога
      h1.mb-4(:style="{ color: 'black' }")
        | {{ edit ? 'Редактирование товара' : 'Добавление товара' }}

      //- название
      v-text-field(label="Название товара", v-model="currentItem.name")

      //- цена
      v-text-field(label="Цена", v-model="currentItem.price")

      //- описание
      v-textarea(label="Описание товара", v-model="currentItem.description")

      //- список добавленных фото
      v-layout.my-2

        v-img.mx-2(v-for="(photo, i) in currentItem.item_photo",
          max-height="75px",
          max-width="75px",
          :aspect-ratio="1",
          :src="photo",
          :key="i")

          //- Кнопка удаления фото
          v-btn(icon, fab, color="error", @click="deletePhoto(1, i)")
            v-icon mdi-close

      v-layout(align-center)

        //- Поле ввода ссылки на фото
        v-text-field(label="Ссылка на фото",
          :error-messages="checkUrl_1",
          v-model="currentUrl_1")

        //- добавить фото
        v-btn.ml-4.mb-2(light,
          @click="addPhoto",
          :disabled="!currentUrl_1") Добавить

      //- список добавленных фото ткани
      v-layout.my-2
        v-img.mx-2(v-for="(photo, i) in currentItem.cloth_photo",
          max-height="75px",
          max-width="75px",
          :aspect-ratio="1",
          :src="photo",
          :key="i")

          //- удалить фото ткани
          v-btn(icon, fab, dark, color="error", @click="deletePhoto(2, i)")
            v-icon mdi-close

      v-layout(align-center)

        //- ссылка на фото ткани
        v-text-field(label="Ссылка на фото ткани",
          :error-messages="checkUrl_2",
          v-model="currentUrl_2")

        //- кнопка добавить
        v-btn.ml-4.mb-2(light,
          @click="addCloth",
          :disabled="!currentUrl_2") Добавить

      v-layout.mt-4(justify-end)

        //- кнопка удалить товар
        v-btn.mr-2(
          v-if="edit",
          light,
          @click="confirmModal = true") Удалить

        //- кнопка сохранить товар
        v-btn(
          light,
          :disabled="!checkFields",
          @click="saveItem") Сохранить

</template>

<script>
import confirm from '@/components/confirm'
export default {
  name: "addItemModal",
  components: { confirm },
  props: {
    value: {
      type: Boolean,
      default: false
    },

    // флажок редактирования
    edit: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      currentItem: {}, // текущий товар
      confirmModal: false, // v-model модалки подтверждения
      alert: false, // model alert
      alertText: null, // alert text
      currentUrl_1: null, // url фото
      currentUrl_2: null, // url ткани
      loading: false // спиннер
    }
  },

  computed: {
    /** Проверка Url */
    checkUrl_1() {
      if (!this.currentUrl_1) return null
      else if (this.currentUrl_1.match(
        /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_.~#?&//=]*)/g
      )) return null
      else return 'Введите корректный URL'
    },

    /** Проверка на изменение полей */
    checkFields() {
      const name = this.currentItem.name
      const description = this.currentItem.description
      const price = this.currentItem.price
      const item_photo = this.currentItem.item_photo && this.currentItem.item_photo.length
      const cloth_photo = this.currentItem.cloth_photo && this.currentItem.cloth_photo.length
      return name && description && price && item_photo && cloth_photo
    },

    /** проверка url */
    checkUrl_2() {
      if (!this.currentUrl_2) return null
      else if (this.currentUrl_2.match(
        /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_.~#?&//=]*)/g
      )) return null
      else return 'Введите корректный URL'
    }
  },

  methods: {
    /** обрабочик добавить фото */
    addCloth() {
      if (this.currentItem.cloth_photo) {
        const copy = this.currentItem.cloth_photo.slice()
        copy.push(this.currentUrl_2)
        this.$set(this.currentItem, 'cloth_photo', copy)
      } else {
        const copy = [JSON.parse(JSON.stringify(this.currentUrl_2))]
        this.$set(this.currentItem, 'cloth_photo', copy)
      }
      this.currentUrl_2 = null
    },

    /** удаление товара */
    async deleteItem() {
      this.loading = true
      const id = this.currentItem._id
      const res = await this.$api.requests.deleteItem({ id })

      if (res.data.success) {
        this.closeModal()
        this.$emit('updateList')
      } else {
        this.alertText = res.data.error
        this.alert = true
      }
      this.loading = false
    },

    /** СОхранение товара */
    async saveItem() {
      this.loading = true
      const data = { ...this.currentItem }
      const method = this.edit ? 'editItem' : 'createItem'
      const req = { data }
      if (this.edit) req.id = this.currentItem._id
      const res = await this.$api.requests[method]({ ...req })

      if (res.data.success) {
        this.closeModal()
        this.$emit('updateList')
      } else {
        this.alertText = res.data.error
        this.alert = true
      }
      this.loading = false
    },

    /** Обработчик добавления фото */
    addPhoto() {
      if (this.currentItem.item_photo) {
        const copy = this.currentItem.item_photo.slice()
        copy.push(this.currentUrl_1)
        this.$set(this.currentItem, 'item_photo', copy)
      } else {
        const copy = [JSON.parse(JSON.stringify(this.currentUrl_1))]
        this.$set(this.currentItem, 'item_photo', copy)
      }
      this.currentUrl_1 = null
    },

    /** Обработчик закрытия товара */
    closeModal() {
      this.$emit('closeModal')
      this.currentItem = {}
      this.currentUrl_1 = null
      this.currentUrl_2 = null
      this.alert = false
      this.alertText = null
    },

    /** удаление фото */
    deletePhoto(type, i) {
      const key = type === 1  ? 'item_photo' : 'cloth_photo'
      this.$delete(this.currentItem[key], i)
    }
  }
}
</script>

<style scoped>

</style>
