<template lang="pug">
  v-dialog(
    width="800",
    :value="value")
    v-autocomplete

</template>

<script>
export default {
  name: "AddOrEditItem",
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      types: [
        {
          name: 'Каталог',
          value: 'catalog'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
