<template lang="pug">
  // диалоговое окно авторизации
  v-dialog(
    @input="close",
    :value="value",
    :width="$xs ? '100%' : 400")

    div.pa-5(style="background: white")
      h1.mb-4 Авторизация

      v-alert.mb-4(type="error", :value="alert") {{ alertText }}

      //- email
      v-text-field.mt-4(
        outlined,
        :error-messages="email_errors",
        label="Введите почту",
        v-model="email")

      //- password
      v-text-field(outlined,
        label="Введите пароль",
        :error-messages="password_errors",
        :type="showPassword ? 'text' : 'password'",
        @click:append="showPassword = !showPassword",
        :append-icon="showPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'",
        v-model="password")

      v-layout(justify-end)

        //- Кнопка войти
        v-btn(
          @click="auth",
          :disabled="!email || !password") Войти

</template>

<script>
export default {
  name: "authorization",
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      showPassword: null,
      password: null,
      alert: null,
      alertText: null,
      email: null
    }
  },

  computed: {
    /** проверка email */
    email_errors() {
      if (this.email) {
        const check = this.email.match(/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/)
        if (!check) return 'Введите корректный адрес эл. почты'
        else return null
      } else return null
    },

    /** Проверка ошибок пароля */
    password_errors() {
      if (this.password) {
        if (this.password.length < 8)
          return 'Пароль должен быть длиннее 8 символов'
        else return null
      } else return null
    }
  },

  methods: {
    /** Обработчик закрытия окна авторизации */
    close() {
      this.$emit('close')
      this.password = null
      this.email = null
      this.alert = false
      this.alertText = false
      this.showPassword = null
    },

    /** авторизация */
    async auth() {
      const data = {
        email: this.email,
        password: this.password
      }

      const res = await this.$api.requests.auth({ data })

      if (!res.data.success)
        this.alertText = res.data.error
        this.alert = true
      }
  }
}
</script>

<style scoped>

</style>
