<template lang="pug">
  //- Диалоговое окно подтверждения удаления
  v-dialog(@input="$emit('close')",
    :value="value", width="400")

    div.pa-5(:style="{ background: 'white' }")
      | Вы уверены что хотите соверишить данное действие?

      v-layout(justify-end)
        v-btn.mr-2(@click="$emit('close'), $emit('confirm')") Подтвердить
        v-btn(@click="$emit('close')") Закрыть
</template>

<script>
export default {
  name: "confirm",
  props: {
    value: {
      type: Boolean,
      default: null
    }
  }
}
</script>

<style scoped>

</style>
