<template lang="pug">
  //- app-bar для мобильной верстки
  v-dialog(
    @input="$emit('close')",
    transition="slide-x-transition",
    :value="value",
    fullscreen)

    div.pa-2(column
      :style="{ background: 'white', height: '100%', width: '100%' }")

      v-layout

        v-btn(icon,
          @click="$emit('close')",
          fab, dark,
          color="rgb(48,48,48)")
          v-icon mdi-close

        v-spacer

        v-btn.mx-2(icon, fab, dark, color="rgb(48,48,48)")
          v-icon mdi-basket

      v-list(style="width: 100%")

        v-layout(column,v-for='(link, i) in items', :key='i',)
          v-list-item(
            ripple,
            two-line,
            dense,
            @click="$emit('close'), $router.push(link.to)")

            v-list-item-title.title.font-weight-light {{ link.name }}
          v-divider(light).my-0

        v-list-item(ripple,
          two-line,
          dense,
          @click="$emit('close'), $emit('openAuth')")
          v-list-item-title.title.font-weight-light Вход

        v-divider(light).my-0

        v-list-item(ripple,
          two-line,
          dense,
          @click="$emit('close'), $router.push('/registration')")
          v-list-item-title.title.font-weight-light Регистрация

</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },

    value: {
      type: Boolean,
      default: false
    }
  },
  name: "MobileBar"
}
</script>

<style scoped>

</style>
