<template lang="pug">
  //- карточка товара
  v-flex(:xs3="!$xs", :xs12="$xs")

    div(
      @click="$emit('openPhotos')",
      :class="{ 'grey-div' : showGrey }",
      :style="{ cursor: 'pointer' }",
      @mouseenter="mouseenter",
      @mouseleave="mouseleave")

      v-img(width="100%",
        :src="item.item_photo[0]")

        v-layout(fill-height, align-center, justify-center, v-if="showGrey")
          span(:style="{ color: 'black', opacity: '100%!important' }").display-1.font-weight-light Выбрать ткань

    v-layout.my-4(align-center, justify-start, column)

      span.font-regular.subtitle-2(:style="{ color: 'black' }")
        | {{ item.name }}

      span.font-regular.subtitle-2(:style="{ color: 'black' }")
        | {{ item.price + ' руб.' }}

      v-btn.mt-2(light,
        @click="$emit('editItem', item)") Редактировать

      v-btn.mt-2(light,
        @click="$emit('openPhotos')") Выбрать ткань

    //
      v-layout(align-end, justify-center)
        v-btn.font-weight-light(style="opacity: 85%",
          @click="$emit('openClothes')") Выбрать ткань
</template>

<script>
export default {
  name: "ProduceCard",
  props: {
    item: {
      type: Object,
      default: null
    }
  },

  data () {
    return {
      showGrey: false
    }
  },

  methods: {
    mouseenter() {
      this.showGrey = true
    },
    mouseleave() {
      this.showGrey = false
    }
  }
}
</script>

<style scoped>
.grey-div {
  color: rgb(104, 159, 158);
  background-color: rgb(104, 159, 158);
  opacity: 50%;
}

</style>
