<template lang="pug">
  div(:style="{ width: '100%', height: '100%', backgroundColor: 'white' }")
    v-layout(wrap, align-center, justify-start)
      v-flex.ma-2(xs2, v-for="(item, i) in items", :key="i")
        v-card(color="white",
          hover,
          @click="clickCard(i)",
          :raised="item.raised",
          outlined,
          light).pa-1

          v-img.white--text.align-end(
            :aspect-ratio="1",
            :height="50",
            :src="item.url")

          v-layout(justify-end)
    v-layout(justify-end)

      v-btn(color='orange',
        :disabled="disabled",
        text)
        | Добавить в корзину

</template>

<script>
  export default {
    name: "showClothes",
    props: {
      items: {
        type: Array,
        default: () => []
      }
    },

    computed: {
      disabled() {
        let disabled = true
        this.items.forEach(item => {
          if (item.raised) disabled = false
        })
        return disabled
      }
    },

    methods: {
      /** выделяем нужнкю карточку */
      clickCard(i) {
        this.items.forEach((item, index) => {
          this.$set(this.items[index], 'raised', false)
        })
        this.$set(this.items[i], 'raised', true)
      }
    }
  }
</script>

<style scoped>

</style>
