<template lang="pug">
  v-carousel(cycle='',
    height='400',
    lazy,
    hide-delimiter-background,
    show-arrows-on-hover)

    v-carousel-item(
      v-for='i in 7',
      :key='i')

      v-img(
        aspect-ratio="1.25",
        :src="require(`@/assets/carousel/${i}.jpg`)",
        height="100%")

</template>

<script>
    export default {
        name: "ShowPhotos",
      data ()  {
          return {
            images: [
              {
                src: ''
              }
            ]
          }
      }
    }
</script>

<style scoped>

</style>
