<template lang="pug">
  v-flex.mb-4(
    :xs4="image.size === 'xs4'",
    :xs6="image.size === 'xs6'",
    :xs12="image.size === 'xs12'")

    v-card(
      color='grey lighten-1',
      dark='', href='#!')

      v-img(
        :class="image.class",
        :src="require(`@/assets/${image.name}`)",
        height='100%',
        gradient='rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)'
        )
        v-layout(fill-height='', wrap='',
          text-xs-right='', ma-0='', align-end, column)

          h3.title.font-weight-bold.mx-2
            | {{ image.title }}
          .caption.mx-2
            | {{ image.description }}
          v-spacer
          v-chip.text-uppercase.ma-2(color='primary', label='', small='', @click.stop='')
            | Открыть в каталоге

</template>

<script>
export default {
  name: "SmallBanner",
    props: {
      image: {
        type: Object,
        default: null
      }
  },

  classes () {
    return {
      'md6': this.size === 2,
      'md4': this.size === 3
    }
  }
}
</script>

<style scoped>

</style>
