<template lang="pug">
  v-card.pa-3(color='rgba(161,152,159,0.27)',
    :class="!$xs ? 'width-100' : ''"
    light)
    v-layout(column)
      h3.mb-3 КОНТАКТЫ
      v-layout(column)
        v-layout.mb-2(align-center)
          v-btn.mx-4(small, dark, depressed, fab)
            v-icon mdi-email-outline
          span ПОЧТА
          v-spacer
          span  ksush.u@gmail.com
        v-layout.mb-2(align-center)
          v-btn.mx-4(small, dark, depressed, fab)
            v-icon mdi-map-marker
          span АДРЕС
          v-spacer
          span  г. Екатеринбург
        v-layout.mb-2(align-center)
          v-btn.mx-4(small, dark, depressed, fab)
            v-icon mdi-phone
          span ТЕЛЕФОН
          v-spacer
          span 8-982-722-19-06



</template>

<script>
export default {
  computed: {
    sizeScreen() {
      let size
      if (this.$vuetify.breakpoint.xl) size = '1761px'
      else if (this.$vuetify.breakpoint.lg) size = '1185px'
      else if (this.$vuetify.breakpoint.md) size = '800px'
      else if (this.$vuetify.breakpoint.sm) size = '550px'
      else if (this.$vuetify.breakpoint.xs) size = '100%'
      return size
    }
  }
}
</script>
