<template lang="pug">
  //- дефолтный layout
  v-app
    client-only

      div(:style="{ backgroundColor: 'white', height: '100%' }")

        toolbar(style="height: 64px")

        my-content(:style="{height: '100%', backgroundColor: 'white', paddingLeft: '0!important', paddingRight: '0!important', margin: '0 auto'}")

        my-footer
</template>

<script>
import MyContent from "@/components/layouts/Content"
import MyFooter from "@/components/layouts/Footer"
import Toolbar from "@/components/layouts/Toolbar"
export default {
  components: { MyFooter, MyContent, Toolbar },
  data () {
    return {}
  }
}
</script>
