<template lang="pug">
  div
    div(:style="{ color: 'black' }").mb-4
      //- todo: блок описания доставки

    //- Блок контактов
    subscribe

</template>

<script>
import Subscribe from "../components/Subscribe"
export default {
    name: "delivery",
    components: { Subscribe }
}
</script>

<style scoped>

</style>
