<template lang="pug">
  div
    //- Главный баннер
    banner.mb-4

    v-layout.mt-4(wrap)

      //- Маленькие баннеры
      small-banner.my-4(v-for="(img, index) in items", :key="index",
        :image="img")

      //- блок с контактами
      subscribe

</template>
<script>
import Banner from '@/components/Banner'
import SmallBanner from "@/components/SmallBanner";
import Subscribe from "../components/Subscribe";
export default {
  components: { Subscribe, SmallBanner, Banner },
  data () {
    return {
      items: [
        {
          title: 'Большой выбор тканей',
          description: 'Вы можете выбрать любую ткань на ваш вкус',
          name:'banner1.jpg',
          size: 'xs4',
          class: 'mr-4'
        },
        {
          title: 'Большой выбор тканей',
          description: 'Вы можете выбрать любую ткань на ваш вкус',
          name:'banner2.jpg',
          size: 'xs4',
          class: 'mr-4 ml-4'
        },
        {
          title: 'Большой выбор тканей',
          description: 'Вы можете выбрать любую ткань на ваш вкус',
          name:'banner3.jpg',
          size: 'xs4',
          class: 'ml-4'
        },
        {
          title: 'Большой выбор тканей',
          description: 'Вы можете выбрать любую ткань на ваш вкус',
          name:'banner4.jpg',
          size: 'xs12',
          class: ''
        },
        {
          title: 'Большой выбор тканей',
          description: 'Вы можете выбрать любую ткань на ваш вкус',
          name:'banner5.jpg',
          size: 'xs6',
          class: 'mr-4'
        },
        {
          title: 'Большой выбор тканей',
          description: 'Вы можете выбрать любую ткань на ваш вкус',
          name:'banner6.jpg',
          size: 'xs6',
          class: 'ml-4'
        }
      ]
    }
  }
}
</script>
