<template lang="pug">
  //- Страница регистрации
  div
    h1.mb-4 Регистрация

    //- аллерт с ошибками
    v-alert(type="error", :value="alert") {{ alertText }}


    v-layout(column)

      v-layout(:class="{'width-text-field-desktop': !$xs }", justify-end)
        span.mb-4.caption * - обязательные поля

      v-flex(
        :xs6="$smAndUp",
        :xs12="$xs")

        //- Имя
        v-text-field.mb-4(outlined,
          :class="{'width-text-field-desktop': !$xs }",
          label="Введите ваше имя *",
          v-model="user.name")

        //- email
        v-text-field.mb-4(outlined,
          :class="{'width-text-field-desktop': !$xs }",
          :error-messages="email_errors",
          label="Введите вашу эл.почту *",
          v-model="user.email")

        v-layout(:column="$xs")

          //- Пароль
          v-text-field.mb-4(outlined,
            :class="{'width-text-field-desktop-2 mr-2': !$xs }",
            label="Введите пароль *",
            :error-messages="password_errors",
            :type="showPassword ? 'text' : 'password'",
            @click:append="showPassword = !showPassword",
            :append-icon="showPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'",
            v-model="user.password")

          //- Подтверждение пароля
          v-text-field.mb-4(outlined,
            :class="{'width-text-field-desktop-2': !$xs }",
            :type="showPassword ? 'text' : 'password'",
            :error-messages="password_errors",
            @click:append="showPassword = !showPassword",
            :append-icon="showPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'",
            label="Подвердите пароль *",
            v-model="user.confirmPassword")

        v-layout(justify-start)

          //- Кнопка зарегистрироваться
          v-btn(:disabled="disabled", @click="createUser") Зарегистрироваться

</template>

<script>
export default {
  name: "registration",
  data() {
    return {
      user: {},
      alert: null,
      alertText: null,
      showPassword: false
    }
  },

  computed: {
    /** Ошибки поля email */
    email_errors() {
      if (this.user.email) {
        const check =  this.user.email.match(/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/)
        if (!check) return 'Введите корректный адрес эл. почты'
        else return null
      } else return null
    },

    /** Кнопка сохранить */
    disabled() {
      const name = !this.user.name
      const email = !this.user.email || this.email_errors
      const password = !this.user.password || this.password_errors

      return name || email || password
    },

    /** Ошибка пароля */
    password_errors() {
      if (this.user.password) {
        if (this.user.password.length < 8)
          return 'Пароль должен быть длиннее 8 символов'
        else if (this.user.password !== this.user.confirmPassword)
          return 'Введенные пароли не совпадают'
        else return null
      } else return null
    }
  },

  methods: {
    // TODO Сделать в async-data пермишн на уже зареганного пользователя
    /** СОздание пользователя */
    async createUser() {
      const data = {
        ...this.user
      }

      const res = await this.$api.requests.createUser({ data })

      if (!res.data.success) {
        this.alertText = res.data.errors
        this.alert = true
      } else this.$router.push('/')
    }
  }
}
</script>

<style scoped lang="stylus">
.width-text-field-desktop
  max-width: 600px
.width-text-field-desktop-2
  max-width: 296px
</style>
