<template lang="pug">
  v-content(:style="{ background: 'white' , maxWidth: sizeScreen}")
    v-container(fill-height, fluid)
      v-layout(wrap)
        v-flex
          nuxt

</template>

<script>
export default {
  name: 'Content',
  computed: {
    sizeScreen() {
      let size
      if (this.$vuetify.breakpoint.xl) size = '1761px'
      else if (this.$vuetify.breakpoint.lg) size = '1185px'
      else if (this.$vuetify.breakpoint.md) size = '800px'
      else if (this.$vuetify.breakpoint.sm) size = '550px'
      else if (this.$vuetify.breakpoint.xs) size = '100%'
      return size
    }
  }
}
</script>

<style lang="stylus">
</style>
