<template lang="pug">
  client-only
    v-footer(
      app,
      absolute,
      :style="{ backgroundColor: '#212121', height: 'auto' }",
      height="auto")

      v-layout(align-center, justify-center)

        v-layout(wrap='',
          :style="{ margin: '12px', maxWidth: sizeScreen }",
          align-center)

          v-flex(xs9='')

            v-btn.ml-0.mr-3(v-for='(item, i) in items', :key='i', small, depressed,
              :href='item.href', color='white', fab, target='_blank')
              v-icon(v-text='item.icon', color="black")
          v-spacer
            v-btn.mr-0(small, depressed,
              color='white', fab
              title='Go to top',
              @click='$vuetify.goTo(0)')
              v-icon(color="black") mdi-chevron-up
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        href: 'https://www.instagram.com/ksush.u/',
        icon: 'mdi-instagram'
      },
      {
        href: 'https://www.vk.com/ksysaaa/',
        icon: 'mdi-vk'
      }
    ]
  }),

  computed: {
    sizeScreen() {
      let size
      if (this.$vuetify.breakpoint.xl) size = '1761px'
      else if (this.$vuetify.breakpoint.lg) size = '1185px'
      else if (this.$vuetify.breakpoint.md) size = '800px'
      else if (this.$vuetify.breakpoint.sm) size = '550px'
      else if (this.$vuetify.breakpoint.xs) size = '100%'
      return size
    }
  }
}
</script>
