<template lang="pug">
  v-app-bar(app, flat, light)

    authorization(
      @close="authorization = false",
      v-model="authorization")

    mobile-bar(@close="bar = false",
      @openAuth="authorization = true",
      :items="items",
      v-model="bar")

    mixin menu

      v-menu(bottom,
        :menu-props="{ zIndex: 1}",
        close-on-content-click)

        template(#activator="{ on }")

          v-btn.mx-2(icon,v-on="on" fab, dark, color="rgb(48,48,48)")
            v-icon() mdi-account-circle-outline

        v-list
          v-list-item(ripple,
            @click="authorization = true",
            :style="{ cursor: 'pointer' }",)
            | Войти

          v-list-item(ripple, @click="$router.push('/registration')",
            :style="{ cursor: 'pointer' }")
            | Зарегистрироваться


    mixin basket

      v-btn.mx-2(icon, fab, dark, color="rgb(48,48,48)")
        v-icon mdi-basket


    mixin bar

      v-btn.mx-2(icon, fab, dark,
        @click="bar = true",
        color="rgb(48,48,48)")
        v-icon mdi-menu


    mixin logo

      v-img.mr-5(:src="require('@/assets/logo.jpg')",
        contain='', height='48', width='48',
        max-width='48', @click='$vuetify.goTo(0)')

      v-btn.ml-0.hidden-sm-and-down(
        v-for='(link, i) in items', :key='i',
        :to='link.to', @click='onClick($event, link)',
        text)
        | {{ link.name }}

    v-layout(align-center, justify-center)

      v-layout.px-4(
        v-if="!$xs",
        align-center,
        :style="{maxWidth: sizeScreen}")

        + logo
        v-spacer
        + basket
        + menu

      v-layout(v-else)

        v-flex(xs4)
          v-layout(justify-start)
            + bar

        v-flex(xs4)
          v-layout(justify-center)
            + logo

        v-flex(xs4)
          v-layout(align-end)
            + basket
            + menu

</template>

<script>
import Authorization from "../authorization";
import MobileBar from "../MobileBar";
export default {
  components: {MobileBar, Authorization},
  data () {
    return {
      authorization: false,
      bar: false,
      items: [
        {
          name: 'Главная',
          to: '/'
        },
        {
          name: 'Каталог',
          to: '/catalog'
        },
        {
          name: 'Доступная ткань',
          to: '/cloth'
        },
        {
          name: 'Доставка',
          to: '/delivery'
        },
        {
          name: 'Контакты'
        }
      ]
    }
  },

  computed: {
    sizeScreen() {
      let size
      if (this.$vuetify.breakpoint.xl) size = '1761px'
      else if (this.$vuetify.breakpoint.lg) size = '1185px'
      else if (this.$vuetify.breakpoint.md) size = '800px'
      else if (this.$vuetify.breakpoint.sm) size = '550px'
      else if (this.$vuetify.breakpoint.xs) size = '100%'
      return size
    }
  },

  methods: {
    onClick (e, item) {
      e.stopPropagation()

      this.$router.push(item.to)
    }
  }
}
</script>
