<template lang="pug">
  //- Страница товара
  div
    v-layout.my-4(:style="{ color: 'black' }")
      v-flex(md4, :xs6="!$xs", :xs12="$xs")
        a.mr-2(v-text="'Главная'", @click="$router.push('/')").caption
        span.mr-2.caption >
        a.mr-2(v-text="'Каталог'", @click="$router.push('/catalog')").caption
        span.caption.mr-2 >
        span.caption.mr-2 {{ '  ' + item.name }}

    //- список фото товара для smAndUp
    mixin photosSmAndUp
      v-layout(column)
        v-card.mb-4(
          ripple,
          hover,
          @click="currentPhoto = i",
          v-for='(url, i) in item.item_photo',
          :key='url',
          :class="$xs ? 'mr-2' : 'mb-2'")

          v-img(:src="url")

    //- список фото товара для xs
    mixin photosXs
      v-layout(wrap)
        v-flex(xs3,
          v-for='(url, i) in item.item_photo',
          :key='url')

          v-card.mb-4(
            ripple,
            hover,
            @click="currentPhoto = i",
            :class="$xs ? 'mr-2' : 'mb-2'")

            v-img(:src="url")


    //- Фото товара
    mixin photo

      v-carousel(cycle='',
        v-model="currentPhoto"
        hide-delimiter-background,
        show-arrows-on-hover)

        v-carousel-item(
          v-for='url in item.item_photo',
          :key='url')

          v-img(
            height="100%",
            aspect-ratio="1",
            :src="url")

    //- Цена товара
    mixin price
      v-layout(:style="{ color: 'black' }", column)
        v-layout.my-5(column, align-center)
          span.mb-4.font-weight-light.headline {{ item.name }}
          span.title.font-weight-medium {{ item.price + ' руб.' }}
        span.font-weight-light.mt-5.mb-3 Выберите ткань
        show-clothes(:items="item.cloth_photo")

    //- верстка под компик и sm
    template(v-if="!$xs")
      v-layout(justify-center).mb-4

        v-flex.mr-2(xs1, v-if="item.item_photo")
            + photosSmAndUp

        v-flex.mx-2(xs6)
          + photo

        v-flex.ml-2(xs5)
          + price

    //- верстка под xs
    template(v-else)
      v-layout(column)
        + photo

        v-layout.my-4
          + photosXs

        + price

    //- Описание товара
    v-layout.mb-4(:style="{ color: 'black' }", column)
      span.mb-4.font-weight-light.headline Описание
      span.justify {{ item.description }}

    subscribe.mb-4
</template>

<script>
import ShowClothes from "@/components/showClothes";
import Subscribe from "@/components/Subscribe";
export default {
  name: "index",
  components: { ShowClothes, Subscribe },
  data() {
    return {
      currentPhoto: 0,
      item: {} // текущий элемент
    }
  },
  computed: {
      itemId() {
      return this.$route.params.itemId
    }
  },

  /** Получение товара на mounted */
  mounted() {
    this.getItem()
  },

  methods: {
    /** Получение товара */
    async getItem() {
      const id = this.itemId
      const res = await this.$api.requests.getItem({ id })
      if (res.data.success) {
        const newObj = res.data.result
        const newArr = newObj.cloth_photo.slice()
        newArr.forEach((item, i) => (newArr[i] = { url: item, raised: false }))
        this.$set(newObj, 'cloth_photo', newArr)
        this.item = newObj
      }
    }
  }
}
</script>

<style scoped lang="stylus">
.justify
  text-align: justify

</style>
